<?xml version="1.0"?>
<launch>
    <!-- Launch pyEFD node -->
    <node 
        pkg="top_surface" 
        exec="graspSynthesis.py"
        name="grasp_synthesis_node"
        output="screen"
    />
    
    <!-- Launch grasp synthesis node
    <node 
        pkg="top_surface" 
        exec="grasp_synthesis_node"
        name="grasp_synthesis"
        output="screen"
    /> -->
</launch>