<?xml version="1.0"?>
<launch>
    <!-- Launch pyEFD node -->
    <node 
        pkg="top_surface" 
        exec="pyefd.py"
        name="efd_detector"
        output="screen"
    />
    
    <!-- Launch grasp synthesis node -->
    <node 
        pkg="top_surface" 
        exec="grasp_synthesis_node"
        name="grasp_synthesis"
        output="screen"
    />
</launch>