cycler==0.11.0
filelock==3.12.2
fonttools==4.41.1
idna==3.4
imagecodecs==2023.7.10
imageio==2.31.1
kiwisolver==1.4.4
matplotlib==3.7.2
networkx==3.1
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
pyparsing==3.0.9
pyrealsense2==2.54.1.5217
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.11.1
six==1.16.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.1
tifffile==2023.7.18
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cu117
torch==2.0.0+cu117
torchaudio==2.0.1+rocm5.4.2
torchsummary==1.5.1
torchvision==0.15.1+cu117
triton==2.0.0
urllib3==1.26.16