catkin-pkg
empy==3.3.4
h5py
importlib-metadata
keras
lxml
lz4
matplotlib
numpy
opencv-python
opt-einsum
Pillow
protobuf
psutil
py-ubjson
pyasn1
pyasn1-modules
pyassimp
pycairo
pycryptodomex
pycups
pydot
Pygments
PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
PyOpenGL
pyOpenSSL
pyparsing
pypng
PyQRCode
PyQt5
python-dateutil
PyYAML
reportlab
rospkg
scipy
tf_slim
torch==2.4.1
tornado==5.1.1
triton==3.0.0
defusedxml
easydict
shapely
